.friendItemCard {
	width: 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;

}






.isOnline {
	color: green;
 }
 
 .isOffline {
	color: red;
 }